/* VARIABLES */
:root{
    /* FONT */
    --FF: 'Courier New', Courier, monospace;

    /* COLORS */
    --DARKCOLOR: #000;
}


/* RESETS */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited{
    text-decoration: none;
    color: var(--DARKCOLOR);
    font-weight: 900;
    transition: all 0.5s ease 0s;
}

a:hover,
a:active{
    color: rgb(48, 47, 47);
}

img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* END OF RESETS */
/* UTILITY */
.landing-container h1,
.landing-container h2,
.landing-container h3,
.landing-container h4,
.landing-container h5,
.landing-container h6{
    position: relative;
    /* border: 2px solid red; */
}

.landing-container h1::after,
.landing-container h2::after,
.landing-container h3::after,
.landing-container h4::after,
.landing-container h5::after,
.landing-container h6::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    right: 25%;
    left: 15%;
    top: 100%;
    transition: all 0.5s ease 0.1s;
    background-color: var(--DARKCOLOR);
}
h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after{
    width: 70%;
}

/* END OF UTILITY */

body{
    position: relative;
    text-align: center;
    background-image: linear-gradient(lightgrey, papayawhip);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--FF);
    font-size: 1.25rem;
}

header{
    position: sticky;
    top: 0;
}

.landing-section,
.contact-form-section{
    background-image: linear-gradient(lightgrey, papayawhip);
}
.contact-info-section{
    background-image: linear-gradient(papayawhip, lightgrey);
}



/* MENU STYLES */
.navbar{
    /* border: 2px solid red; */
    background-color: transparent;
}

.nav-item{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0;
}

.nav-item .nav-link{
    color: var(--DARKCOLOR);
    font-weight: bold;
    transition: all 0.5s ease 0s;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:active{
    color: rgb(48, 47, 47);
    font-weight: bolder;
    scale: 1.1;
}

.landing-container{
    /* border: 2px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.filter-container .dropdown .dropdown-menu li{
    text-align: center;
    background-color: darkgrey;
    padding: 0;
    margin: 0;
}

.data-container #createBtn{
    display: block;
    margin-left: auto;
}

figure{
    border: 2px solid #000;
    border-radius: 1em;
    width: 300px;
    height: 400px;
    margin-bottom: 5rem;
}