/* VARIABLES */
:root{
    /* FONT */
    --FF: 'Courier New', Courier, monospace;

    /* COLORS */
    --DARKCOLOR: #000;

}


/* RESETS */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited{
    text-decoration: none;
    color: var(--DARKCOLOR);
}

/* END OF RESETS */

body{
    text-align: center;
    background-color: papayawhip;
    font-family: var(--FF);
}

header{
    border: 2px solid red;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    position: fixed;
    width: 100%;
}

.menu-container{
    border: 2px solid blue;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-container{
    border: 2px solid blue;
    display: flex;
    justify-content: end;
    align-items: center;
}

.landing-container{
    border: 2px solid green;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

